<div class="event-photo buffer-both">
  <%= link_to image_tag(photo.photo.thumb.url, class: "img-fluid"), photo.photo.url, data: { toggle: 'lightbox' } %>
  Добавил <%= render partial: 'users/user', object: photo.user %>
</div>
